:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --white: #fafafa;
  --black: #060606;

  --gray-50: #ececec;
  --gray-100: #c9c9c9;
  --gray-300: #767272;
  --gray-500: #262626;
  --spacing-16px: 16px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  background-color: var(--white);
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-300);
  fill: var(--gray-300);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-100);
  fill: var(--gray-100);
}

/* HEADER */
header {
  padding: 147px 22px 0 22px;
  max-width: 1024px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title,
.sub-title {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.title {
  margin-bottom: var(--spacing-16px);
  font-weight: 600;
}

.sub-title {
  font-weight: 400;
  color: var(--gray-300);
}

/* MAIN */
section {
  padding: 0 22px;
  max-width: 1024px;
  margin: 0 auto;
}

.about,
.projects {
  padding-top: 42px;
}

.copy {
  line-height: 1.6rem;
}

.about-copy {
  margin-bottom: var(--spacing-16px);
}

.project {
  text-decoration: underline;
  margin-bottom: var(--spacing-16px);
}

.project:hover {
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  flex-direction: column;
  width: 100%;
  min-height: 427px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 1px 1px 29px -10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  position: relative;
}

.modal-header {
  display: flex;
}

.shape-title {
  position: relative;
  height: 110px;
  width: 110px;
}

.project-shape {
  height: 110px;
  width: 110px;
  background-color: rgb(255, 185, 6, 1);
  clip-path: circle(50%);
}

.project-title {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-74%, -50%);
  text-wrap: nowrap;
}

.btn-close {
  position: absolute;
  top: 22px;
  right: 22px;
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.btn-close p {
  color: var(--black);
  font-size: 2rem;
  font-weight: 600;
}

.modal-body {
  margin-top: 32px;
}

.project-role {
  color: var(--gray-300);
  font-size: 0.875rem;
  margin-bottom: var(--spacing-16px);
}

.project-description {
  margin-bottom: var(--spacing-16px);
  max-width: 30ch;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  text-decoration: underline;
  padding-bottom: var(--spacing-16px);
}

/* FOOTER */
footer {
  padding: 44px 22px 0 22px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 34px;
}

.contact-svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 3px;
}

@media (min-width: 470px) {
  /* MODAL AT 470px*/
  .modal {
    flex-direction: row;
    align-items: center;
    min-height: auto;
  }

  .modal-header {
    margin-right: 42px;
  }

  .project-links {
    flex-direction: row;
  }

  .project-links a {
    margin-right: 32px;
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  header {
    padding: 144px 22px 22px 72px;
  }

  section {
    padding: 0 42px;
  }

  footer {
    display: flex;
    flex-direction: row;
    padding: 42px 42px;
  }

  /* MAIN AT 768px*/
  .title-container {
    flex-direction: row;
  }

  .title {
    margin-left: 8px;
  }

  .section {
    display: flex;
    flex-direction: row;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-right: 62px;
  }

  #project-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .project {
    font-size: 2rem;
    margin: 0 84px 84px 0;
  }

  /* FOOTER AT 768px*/
  footer {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .footer-title {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .footer-title > h2 {
    display: block;
  }

  .footer-title h2:first-child {
    max-width: 90px;
    margin-right: 30px;
  }

  .footer-title h2:nth-child(2) {
    font-size: 4rem;
    line-height: normal;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
  }
}

@media (min-width: 1024px) {
  /* MAIN AT 1024px */
  header {
    padding: 300px 52px 52px 148px;
  }

  .title,
  .sub-title {
    font-size: 2rem;
  }

  section {
    padding: 0 148px;
  }

  .about,
  .projects {
    padding-top: 132px;
  }
  /* FOOTER AT 1024px */
  footer {
    padding: 100px 148px;
  }
}
