:root {
  --clr-dark: #0a0a0a;
  --clr-light: #fafafa;
  --clr-primary: #1e40af;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

main {
  width: 80vw;
  margin: 0 auto;
  padding-top: 20%;
}

.text {
  margin: 25px 0;
}

.line {
  width: 20px;
  background-color: var(--clr-primary);
  border-radius: 12px;
}

.art {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-1 {
  height: 120px;
}

.line-2 {
  height: 90px;
}

.line-3 {
  height: 60px;
}

.line-4 {
  height: 25px;
}


a {
  
}