:root {
  --clr-dark: #0a0a0a;
  --clr-light: #fafafa;
  --clr-primary: #1e40af;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

main {
  width: 90vw;
  height: 90vh;
  padding: 1rem 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.text:first-child {
  margin-bottom: 1rem;
}

.text a {
  text-decoration: none;
  color: var(--clr-dark);
  font-weight: 700;
}

/* CIRCLES */

.circles {
  margin-top: 2rem;
}

.circle {
  height: 42px;
  width: 42px;
  border-radius: 100%;
}

.c1 {
  background-color: #ffb906;
  position: relative;
  top: 0px;
  left: 35%;
}

.c2 {
  background-color: #ff06bd;
  position: relative;
  top: 15%;
  left: 15%;
}

.c3 {
  background-color: #06fbff;
  position: relative;
  top: 25%;
  left: 45%;
}
