:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --white: #fafafa;
  --black: #060606;

  --gray-50: #ececec;
  --gray-100: #c9c9c9;
  --gray-300: #808080;
  --gray-500: #262626;
  --spacing-16px: 16px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  background-color: var(--white);
}

a {
  cursor: pointer;
  font-weight: 600;
  color: var(--black);
}

a:hover,
a:visited {
  cursor: pointer;
  color: var(--black);
}

/* HEADER */
header {
  padding: 22px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title,
.sub-title {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.title {
  margin-bottom: var(--spacing-16px);
  font-weight: 600;
}

.sub-title {
  font-weight: 400;
  color: var(--gray-300);
}

/* MAIN */
section {
  padding: 0 22px;
}

.about,
.projects {
  padding-top: 42px;
}

.copy {
  line-height: 1.6rem;
}

.project {
  text-decoration: underline;
  margin-bottom: var(--spacing-16px);
}

.project:hover {
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  width: 100%;
  min-height: 427px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 1px 1px 29px -10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.modal-header {
  display: flex;
}

.shape-title {
  position: relative;
  height: 110px;
  width: 110px;
}

.project-shape {
  height: 110px;
  width: 110px;
  background-color: rgb(255, 185, 6, 1);
  clip-path: circle(50%);
}

.project-title {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-74%, -50%);
  text-wrap: nowrap;
}

.btn-close {
  height: 42px;
  width: 42px;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.btn-close p {
  font-size: 2rem;
  font-weight: 600;
}

.modal-body {
  margin-top: 32px;
}

.project-role {
  color: var(--gray-300);
  font-size: 0.875rem;
  margin-bottom: var(--spacing-16px);
}

.project-description {
  margin-bottom: var(--spacing-16px);
  max-width: 30ch;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-links a {
  text-decoration: underline;
  padding-bottom: var(--spacing-16px);
}

/* FOOTER */
footer {
  padding: 42px 22px;
}
.footer-title {
  margin-bottom: var(--spacing-16px);
}
.footer-title > h2 {
  display: inline;
}

.footer-contact a,
.footer-contact a:visited {
  text-decoration: none;
}

/* .vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
} */
